@import url('reset.css');
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #333;
}

header {
	background-color: #ff870e;
	padding: 10px 0;
}
#wrapper {
	max-width: 1200px;
	margin-inline: auto;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

h2 {
	text-align: center;
	margin: 20px 0;
}

.popular,
.breakfast,
.desserts {
	margin: 20px;
}

.popular-items,
.breakfast-items,
.desserts-items {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.item {
	text-align: center;
	margin: 10px;
}

.item img {
	width: 150px;
	height: auto;
	border-radius: 10px;
}

.item p {
	margin: 10px 0;
}

button {
	background-color: #ff870e;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
}

button:hover {
	background-color: #e65a00;
}

.new {
	background-color: #ff870e;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 10px;
	position: absolute;
	margin-top: -20px;
	margin-left: -20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.footer-content {
	display: flex;
	justify-content: space-around;
}

.footer-section {
	flex: 1;
	margin: 10px;
}

.footer-section h2 {
	margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-section ul li {
	margin-bottom: 10px;
}

.footer-section ul li a {
	color: #ff6a00;
	text-decoration: none;
}

.footer-section ul li a:hover {
	text-decoration: underline;
}

.social-icons a {
	display: inline-block;
	margin: 0 10px;
}

.social-icons a img {
	width: 30px;
	height: 30px;
}

.footer-bottom {
	margin-top: 20px;
	border-top: 1px solid #444;
	padding-top: 10px;
}
